
<div class="panel panel-primary" ng-contoller="addCtrl">
    <div class="panel-heading">
    Addition 
    
    </div>
    <div class="panel-body">
        <div>
            <label>First Number</label>
            <input type="number" placeholder="Enter First Number here" ng-model="firstNum">
            <label>Second Number</label>
            <input type="number" placeholder="Enter Second Number here" ng-model="secondNum">
            <div>
                The Addition is : {{firstNum+secondNum}}
            </div>

        </div>
    </div>

</div>

