<!doctype html>
<html lang="en" ng-app="webixApp">
    <head>
        <meta charset="utf-8">
        <title>Webix - Angular  : Layouts</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.webix.com/edge/webix.css">
        <script type="text/javascript" src="https://cdn.webix.com/edge/webix.js"></script>
        <script type="text/javascript" src="index.js"></script>

        <script type="text/javascript">
            var app = angular.module('webixApp', [ "webix" ]);

            app.controller('addCtrl', function($scope){

                $scope.firstNum = 885;
                $scope.secondNum = 995;

            })
            app.controller('subCtrl', function($scope){
                $scope.student = [

                    {
                        "firstName" : "Ajinkya",
                        "lastName"  : "Chanshetty",
                        "contact"   : 9960282703,
                        "email"     : "aajinkya@hotmail.com"
                    },
                    {
                        "firstName" : "Sandip",
                        "lastName"  : "Pal",
                        "contact"   : 9960282703,
                        "email"     : "sandip@hotmail.com"
                    },

                    {
                        "firstName" : "Neha",
                        "lastName"  : "Sathawane",
                        "contact"   : 99608882703,
                        "email"     : "neha@hotmail.com"
                    },

                    {
                        "firstName" : "Gopal",
                        "lastName"  : "Thakur",
                        "contact"   : 9960000703,
                        "email"     : "gopal@hotmail.com"
                    }
                ]
            })


        </script>
    </head>
    <body>

        <div webix-ui type="space">
            <div height="35">Welcome to Angular Webix App </div>
            <div view="cols" type="wide" margin="10">
                <div width="200">
                    <input type="text" placeholder="Type something here" ng-model="app">
                    Hello {{app}}!
                </div>
                <div view="resizer"></div>
                <div view="tabview" ng-controller="addCtrl">
                    <div header="Addition">
                        <label>First Number</label>
                        <input type="number" placeholder="Enter First Number here" ng-model="firstNum">
                        <label>Second Number</label>
                        <input type="number" placeholder="Enter Second Number here" ng-model="secondNum">
                        <div>
                            The Addition is : {{firstNum+secondNum}}
                        </div>

                    </div>
                    <div header="Subtraction" >
                        <div>
                            Hello this is ARC
                            <div webix-ui view="datatable"  ng-controller="subCtrl" webix-data="student" autoheight="true" autoheight="true" select="row">
                                <div view="column" id="firstName" sort="int" css="rating">First Name</div>
                                <div view="column" id="lastName"   sort="int">Last Name</div>
                                <div view="column" id="contact"  sort="int">Contact</div>
                                <div view="column" id="email"  sort="string" fillspace="true">E mail</div>  
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div webix-ui type="wide">
                <div width="200" webix-show="showLeft">Left</div>
            </div>

            <div>
                <div ng-controller="subCtrl">
                    <div webix-ui view="datatable" webix-data="student" autoheight="true" autoheight="true" select="row">
                        <div view="column" id="firstName" sort="int" css="rating">First Name</div>
                        <div view="column" id="lastName"   sort="int">Last Name</div>
                        <div view="column" id="contact"  sort="int">Contact</div>
                        <div view="column" id="email"  sort="string" fillspace="true">E mail</div>  
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>