

<div class="panel panel-warning">
    <div class="panel-heading">
    Division 
    
    </div>
    <div class="panel-body">
        <div ng-contoller="subCtrl">
            <h1>Division Panel </h1>

            <label>First Number</label>
            <input type="number" placeholder="Enter First Number here" ng-model="firstNum">
            <label>Second Number</label>
            <input type="number" placeholder="Enter Second Number here" ng-model="secondNum">
            <div>
                The Division is : {{firstNum/secondNum}}
            </div>

        </div>
    </div>

</div>

