<div class="panel panel-warning">
    <div class="panel-heading">
        Multiplication Panel   
    </div>
    <div class="panel-body">
        <div header="Multiplication" ng-controller="multiCtrl">
            <label>First Number</label>
            <input type="number" placeholder="Enter First Number here" ng-model="firstNum">
            <label>Second Number</label>
            <input type="number" placeholder="Enter Second Number here" ng-model="secondNum">
            <div>
                The Multiplication is : {{firstNum*secondNum}}
            </div>
        </div>
    </div>
</div>