

<div class="panel panel-danger">
    <div class="panel-heading">
        Subtraction

    </div>
    <div class="panel-body">
        <div ng-contoller="subCtrl">
            <h1>Subraction Panel </h1>

            <label>First Number</label>
            <input type="number" placeholder="Enter First Number here" ng-model="firstNum">
            <label>Second Number</label>
            <input type="number" placeholder="Enter Second Number here" ng-model="secondNum">
            <div>
                The Subtraction is : {{firstNum-secondNum}}
            </div>

        </div>
    </div>

</div>

